#color-style-switcher .bottom a i,
.btn-border,
.slicknav_nav .active,
.slicknav_nav a:hover,
a:focus,
a:hover {
    color: #1650E2
}

/*.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 200px;
    text-align: center;
    margin-left: -100px;
    margin-top: -100px;
    background: url(http://sampsonresume.com/labs/pIkfp.gif) 50% 50% no-repeat rgba(255, 255, 255, .8)
}*/

.btn-common {
    background: #1650E2
}

.btn-common:focus,
.btn-common:hover {
    background: #3567e4
}

.btn-search-icon,
.dropdown-menu li a:active,
.dropdown-menu li a:focus,
.dropdown-menu li a:hover,
.full-time,
.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li>a.active,
.navbar-default.affix .float-right li a:hover,
.slicknav_menu .slicknav_btn .slicknav_icon-bar,
.slicknav_menu .slicknav_btn:hover,
.slicknav_nav .active a,
.slicknav_nav .dropdown li a.active,
.tbtn {
    background: #1650E2
}

.back-to-top i {
    background-color: #1650E2
}

.slicknav_btn {
    border-color: #1650E2;
    border-radius: 2px
}

.main-navigation .float-right li a,
.navbar-default.affix .float-right li a {
    color: #1650E2!important;
    border-color: #1650E2
}

.navbar-default .float-right li a:hover {
    border-color: #1650E2
}

.navbar-default .navbar-nav .dropdown {
    border-color: #1650E2
}

.dropdown li a.active,
.dropdown>li:hover>a,
.sup-dropdown li a.active {
    background-color: #1650E2;
    color: #fff
}

.counting .icon i,
.f-category .icon i,
.find-job .showing a span,
.job-list .job-tag .icon,
.job-list .job-tag .meta-tag span a:hover {
    color: #1650E2
}

.popular-jobs a:hover {
    background: #1650E2;
    border-color: #1650E2
}

.pagination .active>a,
.pagination .active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background: #1650E2!important;
    border-color: #1650E2!important
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background-color: #1650E2!important;
    border-color: #1650E2!important
}

.category,
.featured-jobs .item-foot .view-iocn a {
    background: #1650E2
}

.owl-theme .owl-controls .owl-buttons div {
    background: #1650E2!important
}

.counting .desc h2::after,
.find-job .nav-tabs>li.active>a,
.find-job .nav-tabs>li.active>a:focus,
.find-job .nav-tabs>li.active>a:hover,
.infobox,
.right-sideabr .lest .notinumber,
.subscribe-box input[type=submit] {
    background: #1650E2
}

.bottom-social-icons a {
    background: #1650E2;
    color: #fff
}

#copyright p a:hover,
#pricing-table .table .pricing-header .price-value,
#sidebar .cat-list li a:hover,
.all-categories ul li a:hover,
.blog-post .post-content .meta .meta-part a:focus,
.blog-post .post-content .meta .meta-part a:hover,
.breadcrumb,
.job-detail .clearfix ul li i,
.job-detail .sidebar .sidebar-jobs ul li span i,
.job-detail .sidebar .text-box a.text i,
.job-detail .sidebar .text-box h4 a,
.job-detail .sidebar .text-box strong.price i,
.job-detail .text-left .meta span i,
.job-detail .text-left .price i,
.post-header a,
.reply-link,
.right-sideabr .lest li a.active,
.right-sideabr .lest li a:hover,
.service-item .icon-wrapper i,
footer .menu li a:hover {
    color: #1650E2
}

.find-job .nav-tabs>li>a {
    color: #1650E2;
    border-color: #1650E2!important
}

.find-job .nav>li>a:focus,
.find-job .nav>li>a:hover {
    background-color: #1650E2
}

.medium-title::before {
    border-bottom: 2px solid #1650E2
}

.panel-default .panel-heading {
    background: #1650E2!important;
    border: #1650E2
}

#pricing-table #active-tb .pricing-header,
#pricing-table .table:hover .pricing-header,
#sidebar .tag a,
.close i,
blockquote {
    background: #1650E2
}

.form-control:focus,
textarea:focus {
    border-color: #1650E2
}

.widget-title,
.widget-title::before {
    border-bottom-color: #1650E2
}

.tp-bullets.preview3 .bullet.selected,
.tp-bullets.preview3 .bullet:hover {
    border-color: #1650E2!important
}

.tparrows.preview3:hover:after {
    background: #1650E2!important;
    color: #fff
}