.login_form.modal {
      border-radius: 0;
      line-height: 18px;
      padding: 0;
      min-height: 320px;
      font-family: "Lucida Grande", Verdana, sans-serif;
    }

.login_form h3 {
  margin: 0;
  padding: 10px;
  color: #fff;
  font-size: 14px;
  background: -moz-linear-gradient(top, #2e5764, #1e3d47);
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #1e3d47),color-stop(1, #2e5764));
}

.login_form.modal p { padding: 20px 30px; border-bottom: 1px solid #ddd; margin: 0;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #eee),color-stop(1, #fff));
  overflow: hidden;
}
.login_form.modal p:last-child { border: none; }
.login_form.modal p label { float: left; font-weight: bold; color: #333; font-size: 13px; width: 110px; line-height: 22px; }
.login_form.modal p input[type="text"],
.login_form.modal p input[type="password"] {
  font: normal 12px/18px "Lucida Grande", Verdana;
  padding: 3px;
  border: 1px solid #ddd;
  width: 200px;
}

.part {
  display: none;
}

.modal p { margin: 1em 0; }
.modal a.close-modal { border: none; }


table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px
}

tr:nth-of-type(odd) {
    background: #eee
}

th {
    background: #333;
    color: #fff;
    font-weight: 700
}

td,
th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left
}

.post_data {
    padding: 24px;
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    margin-bottom: 24px;
    box-shadow: 10px 10px 5px #eee
}