body,
p {
    line-height: 24px;
    font-family: nunito sans, sans-serif
}

a,
body {
    color: #444
}

p,
ul,
ul li {
    margin: 0
}

ol,
ul li {
    list-style: none
}

.btn-border,
.btn-common {
    text-transform: uppercase;
    position: relative;
    overflow: hidden
}

.btn-border:hover,
.btn-common:focus,
.btn-common:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, .12), 0 1px 6px 0 rgba(0, 0, 0, .12)
}

.btn,
.btn-border,
.btn-common,
.medium-title {
    position: relative
}

.dropdown li a,
.sup-dropdown li a,
body,
p {
    font-family: nunito sans, sans-serif
}

.form-static,
.img-responsive,
table.add-manage-table>tbody>tr>td,
table.add-manage-table>tbody>tr>th {
    vertical-align: middle
}

body {
    font-weight: 400;
    font-size: 13px;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0
}

h1 {
    font-size: 3em
}

h3 {
    font-size: 1.6em;
    line-height: 1.4em
}

.btn-sm,
p {
    font-size: 14px
}

p {
    font-weight: 400
}

.btn-sm,
.btn-xs {
    line-height: 1.5
}

a {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.btn,
.f-category {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear
}

a:focus,
a:hover {
    color: #ff4f57;
    text-decoration: none;
    outline: 0
}

img {
    max-width: 100%
}

ul {
    padding: 0
}

.center {
    text-align: center
}

::selection {
    background: #ff4f57;
    color: #fff
}

::-moz-selection {
    background: #ff4f57;
    color: #fff
}

.btn {
    padding: 12px 30px;
    color: #fff;
    transition: all .3s linear;
    border: none
}

.btn-common:focus,
.btn-common:hover {
    color: #fff;
    background: #ea4249
}

.btn-common {
    background-color: #ff4f57;
    border: none;
    border-radius: 4px
}

.btn-border {
    background: #fff;
    color: #ff4f57;
    border-radius: 4px;
    border: 1px solid!important
}

.btn-border:hover {
    color: #ff4f57
}

.btn-search {
    padding: 11px
}

.btn-lg {
    padding: 15px 30px;
    font-weight: 700;
    letter-spacing: .3px;
    border-radius: 4px
}

.btn-sm {
    padding: 7px 18px;
    margin-bottom: 5px;
    border: none;
    text-transform: capitalize
}

.btn-rm,
.float-right li a,
.medium-title {
    text-transform: uppercase
}

.` .navbar-nav>li>a .btn.btn-sm,
.btn-group-sm .btn,
.btn-group-sm .navbar .navbar-nav>li>a .btn,
.btn.btn-sm {
    color: #000;
    padding: 5px 20px;
    font-size: 13px
}

.btn-xs {
    border-radius: 0;
    font-size: 12px;
    padding: 1px 5px
}

.btn-rm {
    padding: 10px 21px
}

.btn-post {
    padding: 10px 16px
}

.btn-search-icon {
    padding: 14px 22px;
    height: 55px;
    font-size: 22px;
    background: #ff4f57;
    color: #fff;
    width: 65px;
    text-align: center
}

.btn-search-icon:hover {
    opacity: .8;
    color: #fff
}

.section {
    padding: 60px 0
}

.section-title {
    font-size: 36px;
    padding: 0 0 30px;
    font-weight: 900
}

.medium-title {
    font-size: 24px;
    padding: 10px 0
}

.medium-title:before {
    position: absolute;
    content: " ";
    width: 56px;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid #ff4f57
}

#intro-bg:before,
.section-intro:before {
    content: ""
}

#content,
.main-container {
    padding: 80px 0
}

.no-padding {
    padding: 0!important
}

.page-header {
    padding: 40px 0;
    margin: 0;
    border-top: 1px solid #999;
    position: relative
}

.page-header .product-title {
    font-size: 30px;
    line-height: 38px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #fff
}

.breadcrumb-wrapper {
    text-align: center
}

.breadcrumb {
    font-size: 14px;
    color: #ff4f57;
    border-radius: 0;
    background: 0 0;
    padding: 5px 0;
    z-index: 1
}

.breadcrumb a {
    color: #fff
}

.breadcrumb a:hover,
.dropdown li a.active,
.dropdown>li:hover>a,
.sup-dropdown li a.active,
.sup-dropdown li:hover>a {
    color: #ff4f57
}

#loading {
    background-color: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999999;
    margin-top: 0;
    top: 0
}

#loading #loading-center {
    width: 100%;
    height: 100%;
    position: relative
}

#loading #loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 150px;
    width: 150px;
    margin-top: -75px;
    margin-left: -75px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

#loading .object {
    width: 20px;
    height: 20px;
    background-color: #ff4f57;
    position: absolute;
    left: 65px;
    top: 65px;
    border-radius: 500px
}

#loading .object:nth-child(2n+0) {
    margin-right: 0
}

#loading #object_one {
    -webkit-animation: object_one 2s infinite;
    animation: object_one 2s infinite;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

#loading #object_two {
    -webkit-animation: object_two 2s infinite;
    animation: object_two 2s infinite;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

#loading #object_three {
    -webkit-animation: object_three 2s infinite;
    animation: object_three 2s infinite;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

#loading #object_four {
    -webkit-animation: object_four 2s infinite;
    animation: object_four 2s infinite;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

#loading #object_five {
    -webkit-animation: object_five 2s infinite;
    animation: object_five 2s infinite;
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

#loading #object_six {
    -webkit-animation: object_six 2s infinite;
    animation: object_six 2s infinite;
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

#loading #object_seven {
    -webkit-animation: object_seven 2s infinite;
    animation: object_seven 2s infinite;
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

#loading #object_eight {
    -webkit-animation: object_eight 2s infinite;
    animation: object_eight 2s infinite;
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

@-webkit-keyframes object_one {
    50% {
        -webkit-transform: translate(-65px, -65px)
    }
}

@keyframes object_one {
    50% {
        transform: translate(-65px, -65px);
        -webkit-transform: translate(-65px, -65px)
    }
}

@-webkit-keyframes object_two {
    50% {
        -webkit-transform: translate(0, -65px)
    }
}

@keyframes object_two {
    50% {
        transform: translate(0, -65px);
        -webkit-transform: translate(0, -65px)
    }
}

@-webkit-keyframes object_three {
    50% {
        -webkit-transform: translate(65px, -65px)
    }
}

@keyframes object_three {
    50% {
        transform: translate(65px, -65px);
        -webkit-transform: translate(65px, -65px)
    }
}

@-webkit-keyframes object_four {
    50% {
        -webkit-transform: translate(65px, 0)
    }
}

@keyframes object_four {
    50% {
        transform: translate(65px, 0);
        -webkit-transform: translate(65px, 0)
    }
}

@-webkit-keyframes object_five {
    50% {
        -webkit-transform: translate(65px, 65px)
    }
}

@keyframes object_five {
    50% {
        transform: translate(65px, 65px);
        -webkit-transform: translate(65px, 65px)
    }
}

@-webkit-keyframes object_six {
    50% {
        -webkit-transform: translate(0, 65px)
    }
}

@keyframes object_six {
    50% {
        transform: translate(0, 65px);
        -webkit-transform: translate(0, 65px)
    }
}

@-webkit-keyframes object_seven {
    50% {
        -webkit-transform: translate(-65px, 65px)
    }
}

@keyframes object_seven {
    50% {
        transform: translate(-65px, 65px);
        -webkit-transform: translate(-65px, 65px)
    }
}

@-webkit-keyframes object_eight {
    50% {
        -webkit-transform: translate(-65px, 0)
    }
}

@keyframes object_eight {
    50% {
        transform: translate(-65px, 0);
        -webkit-transform: translate(-65px, 0)
    }
}

.navbar-default.affix {
    width: 100%;
    top: 0;
    z-index: 9999;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    background: url(../img/bg/swirl_pattern.png);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-text-fill-color: #000
}

.navbar-default.affix .navbar-brand {
    padding: 7px 0
}

.navbar-default.affix .navbar-nav {
    margin: 10px 0 0 20px
}

.navbar-default.affix .navbar-nav>li>a,
.navbar-default.affix .navbar-nav>li>a:focus {
    padding: 10px 14px;
    color: #444
}

.navbar-default.affix .side {
    padding: 18px 0
}

.navbar-default.affix .navbar-nav>li>.dropdown-menu {
    margin-top: 0
}

.navbar-default.affix .float-right li a {
    color: #ff4f57!important;
    border: 1px solid #ff4f57
}

.navbar-default.affix .float-right li a:hover {
    background: #ff4f57;
    color: #fff!important
}

.navbar {
    margin-bottom: 0;
    background: 0 0;
    border: none;
    border-radius: 0;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .2);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0
}

.navbar-brand {
    position: relative;
    margin: 0!important;
    padding: 15px 0;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.navbar-brand .ripple-container {
    display: none
}

.navbar-default .navbar-nav {
    position: relative;
    margin: 20px 0 5px 20px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.navbar-default .navbar-nav>li {
    margin-right: 5px;
    padding-bottom: 10px
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    display: block;
    font-size: 15px;
    border-radius: 4px;
    padding: 10px 14px;
    font-weight: 700;
    letter-spacing: .5px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.navbar-default .navbar-nav>li:hover>a,
.navbar-default .navbar-nav>li>a.active {
    color: #fff;
    background-color: #ff4f57
}

.navbar-default .navbar-nav .dropdown {
    background: #fff;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
    left: 0;
    border-radius: 3px;
    padding: 10px;
    position: absolute;
    text-align: left;
    top: 100%;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    width: 195px;
    z-index: 999
}

.navbar-default .navbar-nav .dropdown:before {
    position: absolute;
    top: -6px;
    left: 22px;
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 7px;
    border-color: transparent transparent #fff;
    box-sizing: border-box
}

.dropdown li,
.dropdown li a i,
.sup-dropdown li {
    position: relative
}

.navbar-default .navbar-nav>li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1
}

.dropdown li a,
.sup-dropdown li a {
    display: block;
    color: #666;
    margin-bottom: 2px;
    font-size: 13px;
    padding: 5px 10px;
    line-height: 26px;
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out
}

.slicknav_menu,
.wpb-mobile-menu {
    display: none
}

.dropdown li a i {
    float: right;
    font-size: 17px;
    top: -1px;
    margin: 4px 5px
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    border-radius: 2px;
    border-bottom: 2px solid #ff4f57;
    padding: 12px;
    width: 195px;
    background-color: #fff;
    margin-left: 10px;
    z-index: 3;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .08);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    -webkit-transition: all .6s ease 0s;
    transition: all .6s ease 0s
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    opacity: 1;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    z-index: 9999
}

.float-right {
    border-radius: 0;
    margin-left: 30px
}

.float-right li a {
    font-size: 13px;
    color: #fff!important;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 10px 15px;
    margin-right: 0
}

.float-right li a:hover {
    background: #2d61e6;
    color: #fff
}

.float-right li a i {
    margin-right: 3px
}

.main-navigation {
    background: #fff
}

.main-navigation .navbar-nav>li>a {
    color: #444
}

.main-navigation .float-right li a {
    color: #ff4f57!important;
    border: 1px solid #ff4f57
}

.main-navigation .float-right li a:hover {
    color: #fff!important
}

.main-navigation .navbar-nav .dropdown {
    background: #282828
}

.main-navigation .dropdown li a,
.main-navigation .sup-dropdown li a {
    color: #fff
}

.main-navigation .navbar-nav .dropdown:before {
    border-color: transparent transparent #282828
}

.wpb-mobile-menu ul li>ul {
    padding: 0;
    border-style: solid;
    border-width: 4px 0 0;
    border-radius: 0;
    left: 0;
    right: 0;
    border-color: transparent
}

.wpb-mobile-menu ul li>ul>li>a {
    color: #666;
    padding: 10px 0 10px 15px
}

.wpb-mobile-menu ul li>ul>li.active>a,
.wpb-mobile-menu ul li>ul>li>a .active,
.wpb-mobile-menu ul li>ul>li>a:hover {
    background: #ecf0f1
}

@media screen and (max-width:767px) {
    .navbar-brand {
        position: absolute;
        top: 0
    }
    .tbtn {
        display: none
    }
    .slicknav_menu {
        display: block
    }
}

@media screen and (max-width:768px) {
    .navbar-toggle,
    .tbtn {
        display: none
    }
}

.tbtn {
    color: #fff!important;
    font-size: 30px;
    height: 42px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 105px;
    padding: 10px;
    cursor: pointer;
    position: fixed;
    background: #ff4f57;
    z-index: 999;
    top: 124px;
    left: 0
}

.tbtn p {
    font-size: 12px
}

.tbtn p i {
    margin-right: 4px;
    font-size: 14px
}

.title-menu {
    font-size: 15px;
    color: #666;
    padding: 12px 15px;
    border-bottom: 1px solid #eee
}

.navbar-offcanvas,
.navmenu {
    width: 180px;
    z-index: 9999999
}

.navbar-default .navbar-offcanvas,
.navmenu-default {
    background-color: #fff
}

.navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover,
.navmenu-default .navmenu-nav>li>a:focus,
.navmenu-default .navmenu-nav>li>a:hover {
    color: #fff;
    background-color: #1650e2
}

.nav>li {
    position: relative;
    display: block
}

.navbar-default .navbar-offcanvas .navmenu-nav>li>a,
.navmenu-default .navmenu-nav>li>a {
    color: #666;
    padding: 0 15px;
    font-size: 12px;
    border-bottom: 1px solid #eee
}

nav#menu span.fa.fa-bars:hover {
    color: #ff4f57
}

.navbar-default .navbar-offcanvas .navmenu-nav>.active>a,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus,
.navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover,
.navmenu-default .navmenu-nav>.active>a,
.navmenu-default .navmenu-nav>.active>a:focus,
.navmenu-default .navmenu-nav>.active>a:hover {
    background: #ff4f57;
    color: #fff
}

.close {
    background: 0 0;
    padding: 14px 12px;
    opacity: 1
}

.close i {
    background: #ff4f57;
    color: #fff;
    padding: 8px;
    border-radius: 50px;
    font-size: 12px
}

.section-intro {
    background: url(../img/bg/bg-intro.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%
}

.section-intro:before {
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, .8);
    position: absolute
}

#intro-bg,
.search-container {
    position: relative;
    width: 100%
}

.search-container {
    padding: 150px 0;
    display: inline-block
}

.search-container .form-control {
    padding: 0 40px;
    border: 1px solid transparent
}

.search-container .form-group {
    margin-bottom: 0!important
}

.search-container h2 {
    font-size: 30px;
    color: #ff4f57;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: -1px
}

.search-container h1 {
    font-weight: 900;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 30px
}

.search-container .content {
    background: rgba(255, 255, 255, .1);
    padding: 10px;
    margin-bottom: 30px
}

.popular-jobs a {
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, .3);
    padding: 5px 10px;
    color: #fff;
    margin: 0 5px;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.popular-jobs a:hover {
    background: #ff4f57;
    border-color: #ff4f57;
    color: #fff
}

.section-intro .main-text {
    margin: 100px 15px 130px;
    text-transform: uppercase
}

.section-intro .main-text .intro-title {
    font-size: 48px;
    color: #fff;
    white-space: nowrap;
    line-height: 58px
}

.section-intro .main-text .sub-title {
    font-size: 14px;
    color: #fff;
    padding: 15px 0;
    line-height: 24px;
    text-transform: capitalize;
    margin-bottom: 15px
}

#search-row-wrapper {
    background: url(../img/bg/counter-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    text-align: center
}

#search-row-wrapper .overlay {
    background: url(../img/bg/bg-overlay.png) rgba(0, 0, 0, .3);
    width: 100%;
    height: 100%
}

#search-row-wrapper .search-inner {
    padding: 40px 0
}

#intro-bg {
    background: url(../img/bg/bg-intro-1.jpg) center center no-repeat;
    background-size: cover;
    color: #fff
}

#intro-bg:before {
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background-color: rgba(42, 46, 50, .7);
    position: absolute
}

.search-bar {
    background: rgba(68, 68, 68, .7);
    padding: 20px
}

.search-bar i {
    font-size: 15px;
    position: absolute;
    top: 0;
    background-color: transparent;
    color: #444;
    right: 15px;
    padding: 15px
}

.search-bar label {
    z-index: 0;
    font-weight: 400;
    width: 100%;
    margin: 0
}

.search-bar .form-group {
    margin-bottom: 0!important
}

.search-category .search-category-container {
    padding: 0;
    position: relative;
    border-radius: 0;
    border: none!important;
    background: #fff
}

.input-group-addon {
    padding: 0!important
}

.styled-select {
    position: relative;
    width: 100%;
    background: #fff
}

.styled-select:before {
    content: "\e651";
    float: left;
    position: absolute;
    font-family: themify;
    color: #666;
    left: 2px;
    padding: 13px;
    z-index: 999
}

.styled-select>select {
    background: 0 0;
    font-size: 14px;
    line-height: 18px;
    border: 0;
    border-radius: 0;
    height: 44px
}

.search-category select {
    padding: 12px;
    border: none;
    background: 0 0;
    font-size: 14px;
    font-weight: 400;
    color: #333
}

select>opation:focus {
    box-shadow: none;
    border: none
}

.dropdown-product select.balck {
    background-color: #666
}

.btn-default,
.find-job {
    background: #fff
}

.dropdown-product select.option3 {
    border-radius: 10px 0
}

.bootstrap-select .dropdown-toggle:focus {
    outline: transparent dotted thin!important;
    outline: -webkit-focus-ring-color auto 0!important;
    outline-offset: 0!important
}

.btn-default {
    padding: 17px 14px;
    border-radius: 0;
    color: #2d2d2d!important;
    text-transform: none
}

.btn-default:hover {
    background-color: #fff;
    border-color: #fff
}

label {
    margin: 0
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    margin-left: 30px
}

.page-ads .styled-select {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    color: #444;
    display: block
}

.page-ads .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%
}

#editor .panel-heading {
    padding: 0 0 7px 10px
}

#editor .panel-default .panel-heading a {
    color: #333
}

#editor .panel-default .panel-heading a:hover {
    color: #fff
}

.find-job .tabs-container {
    background: #f0f3fa;
    padding: 15px;
    border: 1px solid #ddd
}

.find-job .nav-tabs {
    padding: 20px 0;
    background: 0 0
}

.find-job .nav-tabs>li>a {
    padding: 10px 15px;
    font-size: 14px;
    color: #ff4f57;
    text-transform: uppercase;
    border: 1px solid #ff4f57!important;
    border-radius: 0;
    margin-right: 10px;
    font-weight: 700
}

.find-job .nav>li>a:focus,
.find-job .nav>li>a:hover {
    background-color: #ff4f57;
    color: #fff
}

.find-job .nav-tabs>li.active>a,
.find-job .nav-tabs>li.active>a:focus,
.find-job .nav-tabs>li.active>a:hover {
    border-radius: 0;
    background: #ff4f57;
    color: #fff
}

.find-job table td {
    line-height: 78px!important;
    font-size: 14px;
    font-weight: 700
}

.find-job td img {
    margin-right: 10px
}

.find-job .table-striped>tbody>tr:nth-of-type(2n+1) {
    background: #fff
}

.find-job .table>caption+thead>tr:first-child>td,
.find-job .table>caption+thead>tr:first-child>th,
.find-job .table>colgroup+thead>tr:first-child>td,
.find-job .table>colgroup+thead>tr:first-child>th,
.find-job .table>thead:first-child>tr:first-child>td,
.find-job .table>thead:first-child>tr:first-child>th {
    padding: 15px 0;
    color: #627198;
    font-size: 14px;
    font-weight: 700
}

.find-job .pill {
    display: inline-block;
    padding: 4px;
    height: 18px;
    line-height: 12px;
    text-align: center;
    border-radius: 30px;
    color: #fff
}

.f-category,
.featured-jobs .item-thumb a {
    display: block
}

.find-job .pill.medium {
    padding: 4px 10px;
    height: 22px;
    font-size: 12px;
    line-height: 15px
}

.find-job .green {
    background: #9db722
}

.find-job .red {
    background: #de4003
}

.find-job .yellow {
    background: #dda103
}

.find-job .showing a {
    margin-left: 10px;
    font-size: 14px;
    line-height: 32px
}

.find-job .showing a span {
    color: #ff4f57
}

.find-job .pagination>li>a,
.find-job .pagination>li>span {
    margin-right: 5px;
    border-radius: 50px;
    background: 0 0
}

.find-job .pagination .btn i {
    font-size: 10px
}

.category {
    background: #ff4f57
}

.category .section-title {
    color: #fff
}

.f-category:hover .icon i,
.f-category:hover .icon img {
    transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1)
}

.f-category {
    transition: all .3s linear;
    border: 1px solid #ddd;
    height: 190px;
    margin-top: -1px;
    background: #fff;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    margin-right: -1px
}

.f-category .icon i,
.f-category .icon img {
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear
}

.f-category:hover {
    background: #eee
}

.f-category .icon {
    margin: 15px
}

.f-category .icon img {
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .3s linear
}

.f-category .icon i {
    font-size: 40px;
    padding: 20px;
    color: #ff4f57;
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transition: all .3s linear
}

.f-category h3,
.featured-jobs .item-body .job-title a {
    font-size: 16px;
    text-transform: uppercase
}

.f-category h3 {
    line-height: 32px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.f-category h3 a {
    color: #444
}

.f-category h3 a:hover {
    color: #ff4f57
}

.f-category p {
    color: #999
}

.featured-jobs .featured-item {
    position: relative;
    margin-bottom: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 0;
    -o-transition: all .15s ease;
    cursor: pointer;
    -webkit-transition: transform .2s linear, -webkit-box-shadow .2s linear;
    -moz-transition: transform .2s linear, -moz-box-shadow .2s linear;
    transition: transform .2s linear, box-shadow .2s linear
}

.featured-jobs .featured-item:hover {
    box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, .13)
}

.featured-jobs .featured-wrap {
    background: #fff;
    width: 100%;
    padding: 8px
}

.featured-jobs .item-thumb {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all .15s ease;
    -moz-transition: all .15s ease;
    -o-transition: all .15s ease;
    transition: all .15s ease
}

.featured-jobs .item-thumb:hover {
    opacity: .9
}

.featured-jobs .item-body {
    padding: 20px 12px 10px;
    width: 100%
}

.featured-jobs .item-body .job-title {
    margin: 0 0 4px
}

.featured-jobs .item-body .job-title a:hover {
    color: #ff4f57
}

.featured-jobs .item-body .adderess {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    margin: 0
}

.featured-jobs .item-foot {
    background: #fff;
    display: inline-block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding: 14px 20px;
    position: relative
}

.featured-jobs .item-foot a {
    color: #999
}

.featured-jobs .item-foot a:hover {
    color: #ff4f57
}

.featured-jobs .item-foot span {
    color: #999;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-right: 10px
}

.featured-jobs .item-foot span i {
    margin-right: 5px
}

.featured-jobs .item-foot .view-iocn {
    position: absolute;
    top: -24px;
    right: 24px
}

#blog .blog-item-img,
#testimonial {
    position: relative
}

.featured-jobs .item-foot .view-iocn a {
    width: 48px;
    display: block;
    background: #ff4f57;
    color: #fff;
    font-size: 20px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15)
}

.purchase {
    background-image: url(../img/parallax/bg-02.jpg);
    padding: 100px 0;
    background-attachment: absolute;
    background-position: 50% 0
}

.purchase .title-text {
    font-size: 38px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 30px
}

.purchase p {
    color: #9fa7ba;
    font-size: 23px;
    letter-spacing: 1px;
    margin-bottom: 40px
}

#blog .blog-item-wrapper {
    background: #fff;
    border-radius: 0;
    margin-bottom: 30px;
    -webkit-transition: transform .2s linear, -webkit-box-shadow .2s linear;
    -moz-transition: transform .2s linear, -moz-box-shadow .2s linear;
    transition: transform .2s linear, box-shadow .2s linear
}

#blog .blog-item-wrapper:hover {
    box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, .13)
}

#blog .blog-item-img img {
    width: 100%
}

#blog .blog-item-text {
    border: 1px solid #f1f1f1;
    padding: 15px
}

#blog .blog-item-text .meta-tags {
    margin-bottom: 10px
}

#blog .blog-item-text .meta-tags span {
    margin-right: 10px
}

#blog .blog-item-text .meta-tags span i {
    margin-right: 5px
}

#blog .blog-item-text h3 {
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px
}

#blog .blog-item-text p {
    line-height: 25px;
    margin-bottom: 20px
}

#testimonial {
    width: 100%;
    background: url(../img/testimonial/testimonial-bg.jpg);
    background-size: cover
}

#testimonial:before {
    position: absolute;
    content: " ";
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%
}

#testimonial .img-member {
    height: 90px;
    border-radius: 100%;
    margin-top: 22px;
    overflow: hidden;
    width: 90px
}

#testimonial .client-info {
    color: #fff;
    line-height: 20px;
    margin: 20px auto
}

#testimonial .client-info .client-name {
    font-size: 20px;
    line-height: 44px;
    text-transform: uppercase
}

#testimonial .client-info .client-name span {
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    font-style: italic
}

#pricing-table .title h3,
.all-categories .cat-title,
.collapset-title,
.contact-datails .info h3,
.infobox .info-text h2,
.job-alerts-item .alerts-list,
.mainHeading .section-title,
.my-resume .author-resume .author-info h3,
.my-resume .item h4,
.page-login-form h3,
.service-item h2,
.subscribe-box input[type=submit],
.usearadmin h3,
.widget-title,
.widget-title h4 {
    text-transform: uppercase
}

#testimonial p {
    margin: 20px;
    text-align: center;
    font-size: 14px;
    letter-spacing: .9px;
    color: #fff;
    font-style: italic;
    position: relative
}

#testimonial p .quote-left {
    font-size: 32px;
    margin-right: 36px
}

#testimonial p .quote-right {
    font-size: 32px;
    margin-left: 36px
}

#testimonial .owl-theme .owl-controls .owl-buttons div {
    border-radius: 50%;
    font-size: 30px;
    margin: 20px 10px 0;
    padding: 0 12px
}

.touch-slider .owl-controls .owl-buttons {
    position: relative;
    top: -190px;
    left: 0
}

.touch-slider .owl-controls .owl-buttons div.owl-prev {
    float: left;
    margin-left: -45px
}

.touch-slider .owl-controls .owl-buttons div.owl-next {
    float: right!important;
    margin-right: -45px
}

.owl-theme .owl-controls .owl-buttons div {
    width: 40px;
    height: 40px;
    line-height: 30px;
    display: block!important;
    background: #ff4f57!important;
    text-align: center;
    opacity: 1!important;
    border-radius: 50px!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .18), 0 2px 5px 0 rgba(0, 0, 0, .15);
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.owl-theme .owl-controls .owl-buttons div:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    opacity: .8!important
}

.owl-theme .owl-controls .owl-buttons div i {
    color: #fff;
    font-size: 14px;
    line-height: 40px
}

.clients {
    background: #f7f7f7
}

.clients .items {
    margin: 15px;
    text-align: center
}

#counter {
    background: url(../img/bg/counter-bg.jpg) center center no-repeat;
    background-size: cover;
    color: #fff;
    padding: 60px 0;
    text-align: center
}

.counting {
    margin: 15px 0
}

.counting .icon {
    margin-bottom: 25px
}

.counting .icon i {
    color: #ff4f57;
    font-size: 42px
}

.counting .desc h2 {
    font-size: 30px;
    line-height: 27px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px
}

.counting .desc h2:after {
    background: #ff4f57;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 45px
}

.counting .desc h1 {
    font-size: 38px;
    line-height: 39px
}

.counting:hover span {
    background: #ff4f57;
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1)
}

.infobox {
    background: #ff4f57
}

.infobox .info-text {
    float: left;
    display: inline-block
}

.infobox .info-text h2 {
    font-size: 24px;
    letter-spacing: .5px;
    color: #fff;
    display: inline-block;
    line-height: 40px
}

.infobox .info-text p {
    color: #fff;
    line-height: 30px
}

.infobox .info-text p a {
    color: #ddd
}

.infobox .info-text p a:hover {
    color: #fff
}

.infobox .btn {
    margin-top: 15px;
    float: right
}

footer .block-title {
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom: 30px
}

footer .footer-Content {
    background-color: #065D98;
    padding: 50px 10px 10px;
    color: #fff
}

.textwidget {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #fff
}

footer .menu {
    padding-left: 0
}

footer .menu li {
    padding-bottom: 10px
}

footer .menu li a {
    color: #fff;
    padding: 0
}

footer .menu li a:hover {
    color: #ff4f57
}

.subscribe-box {
    margin-top: 18px
}

.subscribe-box input[type=text] {
    color: #444;
    font-size: 12px;
    padding: 6px 12px;
    border: none;
    background: #fff;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    outline: 0
}

.subscribe-box input[type=submit] {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    background: #ff4f57;
    border: none;
    padding: 7px 16px;
    border-radius: 4px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.widget-title h4,
.widget-title i {
    font-size: 16px;
    display: inline-block
}

.bottom-social-icons {
    margin-bottom: 10px
}

.bottom-social-icons a {
    color: #fff;
    text-align: center;
    width: 42px;
    line-height: 44px;
    margin-right: 5px;
    border-radius: 50px;
    background: #ff4f57;
    display: inline-block;
    height: 42px;
    position: relative;
    overflow: hidden
}

#copyright {
    background-color: #065D98;
    color: #fff;
    padding-bottom: 20px
}

#copyright p a {
    color: #fff
}

#copyright p a:hover {
    color: #ff4f57
}

.social-icon .facebook:hover {
    background-color: #3b5998
}

.social-icon .twitter:hover {
    background-color: #55acee
}

.social-icon .dribble:hover {
    background-color: #d34836
}

.social-icon .flickr:hover {
    background-color: #ff0084
}

.social-icon .youtube:hover {
    background-color: #cc181e
}

.social-icon .google-plus:hover {
    background-color: #dd4b39
}

.social-icon .linkedin:hover {
    background-color: #007bb5
}

footer,
footer ul li a {
    padding: 0
}

.widget-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee
}

.widget-title:before {
    border-bottom: 3px solid #ff4f57
}

.widget-title i {
    margin-right: 15px;
    color: #ff4f57
}

.inner-box {
    border: 1px solid #eee;
    padding: 30px;
    margin-bottom: 30px
}

.categories-list ul {
    margin: 0
}

.categories-list ul li a {
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    font-size: 13px;
    color: #444;
    border-bottom: 1px solid #eee
}

.categories-list ul li a:hover {
    color: #ff4f57
}

.categories-list ul li a i {
    margin-right: 5px
}

.categories-list ul li:last-child a {
    border: none
}

.all-categories .cat-title {
    font-size: 14px;
    background: #f8f8f8;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px
}

.all-categories .cat-title span {
    color: #999;
    font-size: 12px
}

.all-categories ul {
    margin-bottom: 20px
}

.all-categories ul li {
    padding: 4px 20px;
    font-size: 15px;
    line-height: 26px
}

.all-categories ul li a {
    color: #999
}

.all-categories ul li a:hover {
    color: #ff4f57
}

.pagination-bar {
    padding-bottom: 35px;
    margin-top: 35px
}

.pagination {
    margin: 0;
    width: 100%;
    text-align: center
}

.pagination li {
    display: inline-block
}

.pagination .pagination>li>span,
.pagination>li>a {
    border: 1px solid #eee;
    border-radius: 0
}

.pagination .active>a,
.pagination .active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #ff4f57!important;
    border-color: #ff4f57!important
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    background: #ff4f57;
    border-color: #ff4f57;
    color: #fff
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    box-shadow: none
}

.find-job .pagination {
    width: fit-content
}

.post-promo {
    background: #e5e5e5;
    border: 1px solid #ddd;
    padding: 30px
}

.post-promo h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px
}

.post-promo h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px
}

#service-main .section-title {
    margin-bottom: 30px
}

.service-item {
    text-align: center;
    padding: 30px 15px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.service-item .icon-wrapper {
    font-size: 40px;
    margin-bottom: 30px
}

.service-item .icon-wrapper i {
    display: block;
    margin: 0 auto;
    color: #ff4f57
}

.service-item h2 {
    font-size: 16px;
    letter-spacing: .5px;
    font-weight: 700;
    margin-bottom: 15px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

.service-item:hover {
    background: #f1f1f1
}

.about-content {
    padding: 15px
}

.about-content .desc {
    font-weight: 700;
    line-height: 26px;
    margin-top: 20px
}

.about-content p {
    margin-bottom: 20px
}

.header-detail {
    border: 1px solid #ddd;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .075);
    background: #fff;
    margin-bottom: 30px
}

.header-detail .header-content {
    padding: 30px
}

.header-detail .header-content h3 {
    font-size: 28px;
    margin-bottom: 5px
}

.header-detail .header-content p {
    line-height: 30px
}

.header-detail .header-content p span {
    color: #888
}

.job-detail {
    background: #f5f5f5
}

.job-detail .meta {
    border-top: 1px solid #ddd;
    padding: 20px 30px
}

.job-detail .meta span,
.job-detail .meta span i {
    margin-right: 5px
}

.job-detail .medium-title {
    margin-bottom: 30px;
    font-weight: 900
}

.job-detail .box {
    background: #fff;
    margin-bottom: 30px;
    padding: 30px
}

.job-detail .thumb {
    float: left;
    margin: 0 20px 0 0
}

.job-detail .text-left {
    float: left;
    width: 75%
}

.job-detail .text-left h3 {
    font-size: 24px;
    margin: 0 0 5px
}

.job-detail .text-left p {
    margin: 0 0 10px
}

.job-detail .text-left .meta span {
    margin-right: 20px;
    color: #999
}

.job-detail .text-left .meta span i {
    color: #ff4f57;
    margin-right: 3px
}

.job-detail .text-left .price {
    font-size: 18px;
    padding: 10px 0 15px;
    display: block;
    clear: both
}

.job-detail .text-left .price i {
    font-size: 15px;
    margin-right: 10px;
    color: #ff4f57
}

.job-detail .text-left .btn {
    margin-right: 20px
}

.job-detail .clearfix {
    display: inline-block;
    width: 100%
}

.job-detail .clearfix h4 {
    margin-bottom: 10px;
    font-size: 24px
}

.job-detail .clearfix p {
    color: #888;
    margin: 0 0 20px
}

.job-detail .clearfix ul li {
    padding: 0 0 30px 20px;
    overflow: hidden;
    display: block;
    font-size: 14px;
    color: #666;
    position: relative
}

.job-detail .clearfix ul li i {
    position: absolute;
    left: 0;
    top: 4px;
    margin-right: 5px;
    color: #ff4f57
}

.job-detail .sidebar .thumb {
    width: 100%;
    position: relative;
    border-radius: 4px;
    margin-bottom: 20px
}

.job-detail .sidebar .text-box h4 {
    margin: 0 0 12px
}

.job-detail .sidebar .text-box h4 a {
    color: #ff4f57
}

.job-detail .sidebar .text-box p {
    color: #888;
    margin: 0 0 10px
}

.job-detail .sidebar .text-box a.text {
    display: block;
    color: #888;
    padding: 0 0 5px
}

.job-detail .sidebar .text-box a.text i {
    margin-right: 5px;
    color: #ff4f57
}

.job-detail .sidebar .text-box strong.price {
    color: #666;
    font-size: 15px;
    display: block;
    padding: 3px 0 15px
}

.job-detail .sidebar .text-box strong.price i {
    margin-right: 5px;
    color: #ff4f57
}

.job-detail .sidebar .sidebar-jobs ul li {
    display: block;
    overflow: hidden;
    padding: 15px 0;
    border-bottom: 1px solid #eee
}

.job-detail .sidebar .sidebar-jobs ul li:last-child {
    border: none
}

.job-detail .sidebar .sidebar-jobs ul li a {
    display: block;
    padding: 0 0 5px
}

.job-detail .sidebar .sidebar-jobs ul li span {
    color: #888;
    display: block
}

.job-detail .sidebar .sidebar-jobs ul li span i {
    margin-right: 5px;
    color: #ff4f57
}

.detail-company {
    padding: 30px;
    display: inline-block
}

.detail-company h4 {
    font-size: 18px;
    margin-bottom: 5px
}

.detail-company h5 {
    color: #888;
    font-size: 16px;
    line-height: 30px
}

.detail-company .name {
    padding-right: 100px
}

.detail-company .img-thum {
    width: 80px;
    float: right
}

.small-title {
    font-size: 22px;
    margin-bottom: 30px
}

.job-post-wrapper {
    background: #fff;
    padding: 15px
}

.sidebar .detail-list li {
    border-bottom: 1px dotted #eee;
    padding: 7px 0
}

.sidebar .detail-list li a {
    text-decoration: none;
    margin-right: 10px;
    color: #888;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.sidebar .detail-list li .type-posts {
    color: #444;
    float: right
}

.sidebar .detail-list li:last-child {
    border: none
}

.full-time,
.part-time {
    font-size: 12px;
    color: #fff;
    border-radius: 50px;
    margin-left: 10px;
    padding: 7px 18px
}

.full-time {
    background: #2c3e50!important
}

.part-time {
    background: #7f8c8d!important
}

.job-browse .pagination {
    margin-top: 30px
}

.job-browse .cat-list li {
    padding: 7px 0;
    border-bottom: 1px solid #eee
}

.job-browse .cat-list li a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

.job-list {
    border: 1px solid #f1f1f1;
    padding: 15px;
    display: inline-block;
    margin-bottom: 15px
}

.job-list .thumb {
    float: left
}

.job-list .thumb img {
    border-radius: 4px
}

.job-list .job-list-content {
    display: block;
    margin-left: 125px;
    position: relative
}

.job-list .job-list-content h4 {
    font-size: 24px;
    margin-bottom: 10px
}

.job-list .job-list-content p {
    margin-bottom: 20px
}

.job-list .job-tag {
    border-top: 1px solid #ddd;
    padding: 15px 0;
    line-height: 35px
}

.job-list .job-tag .meta-tag span {
    font-size: 14px;
    color: #999;
    margin-right: 10px
}

.job-list .job-tag .meta-tag span a {
    color: #999
}

.job-list .job-tag .meta-tag span a:hover {
    color: #ff4f57
}

.job-list .job-tag .meta-tag span i {
    margin-right: 5px
}

.job-list .job-tag .icon {
    float: left;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    line-height: 42px;
    border-radius: 50px;
    text-align: center;
    margin-right: 18px;
    background: #f1f1f1;
    color: #ff4f57;
    font-size: 16px
}

.right-sideabr h4 {
    font-size: 13px;
    color: #999
}

.right-sideabr .item {
    padding: 15px 0;
    border-bottom: 1px solid #f1f1f1;
    margin-bottom: 15px
}

.right-sideabr .lest li {
    padding: 5px 0
}

.right-sideabr .lest li a {
    font-size: 14px;
    font-weight: 700;
    color: #888
}

.right-sideabr .lest li a.active,
.right-sideabr .lest li a:hover {
    color: #ff4f57
}

.right-sideabr .lest .notinumber {
    float: right;
    width: 24px;
    height: 24px;
    background: #ff4f57;
    text-align: center;
    border-radius: 50px;
    color: #fff
}

.manager-resumes-item .manager-content .manager-info .manager-name,
.my-resume .author-resume .thumb {
    float: left
}

.job-alerts-item {
    border: 1px solid #eee;
    padding: 30px
}

.job-alerts-item .alerts-list {
    padding: 15px 0;
    border-bottom: 1px solid #ddd
}

.job-alerts-item .alerts-title {
    font-size: 26px;
    margin-bottom: 30px
}

.job-alerts-item .alerts-content {
    padding: 30px 0;
    border-bottom: 1px solid #ddd
}

.job-alerts-item .alerts-content h3 {
    font-size: 16px
}

.job-alerts-item .alerts-content .location {
    color: #999
}

.job-alerts-item .alerts-content p {
    color: #999;
    margin-top: 15px
}

.job-alerts-item .job-list {
    border: none;
    padding: 15px 0
}

.my-resume .item {
    padding: 20px 0;
    border-bottom: 1px solid #eee
}

.my-resume .item h3 {
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 15px
}

.my-resume .item h3 i {
    margin-right: 5px;
    color: #999
}

.my-resume .item h4 {
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 10px
}

.my-resume .item h5 {
    font-size: 13px;
    color: #888;
    text-transform: uppercase;
    letter-spacing: .5px;
    margin-bottom: 5px
}

.my-resume .item .date {
    font-size: 15px;
    color: #888
}

.my-resume .item p {
    color: #888
}

.my-resume .item br {
    margin-bottom: 20px
}

.my-resume .author-resume {
    display: inline-block;
    border-bottom: 1px solid #eee;
    padding-bottom: 30px
}

.my-resume .author-resume .thumb img {
    border-radius: 4px
}

.my-resume .author-resume .author-info {
    margin-left: 140px
}

.my-resume .author-resume .author-info h3 {
    font-size: 16px
}

.my-resume .author-resume .author-info p {
    line-height: 30px
}

.my-resume .author-resume .author-info .social-link {
    margin-top: 5px
}

.my-resume .skill {
    margin-top: 30px
}

.my-resume .skill h3 {
    font-size: 20px;
    letter-spacing: .5px;
    margin-bottom: 15px
}

.my-resume .skill h3 i {
    margin-right: 5px;
    color: #999
}

.post-header {
    padding: 10px 15px;
    background: #ddd;
    margin-bottom: 20px
}

.post-header a {
    color: #ff4f57
}

.add-post-btn {
    width: 100%;
    display: inline-block;
    padding: 5px 0 25px
}

.add-post-btn .btn-added,
.add-post-btn .btn-delete {
    border-radius: 50px;
    font-weight: 700;
    background: #ddd;
    padding: 5px 15px;
    font-size: 12px
}

.add-post-btn .btn-delete {
    color: red
}

.manager-resumes-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 30px
}

.manager-resumes-item .item-body {
    padding: 20px 30px;
    color: #999
}

.manager-resumes-item .item-body .tag-list {
    margin-top: 15px
}

.manager-resumes-item .item-body .tag-list span {
    background-color: #f8f9fb;
    color: #818a91;
    padding: 2px 6px;
    margin-right: 8px;
    margin-bottom: 4px;
    font-size: 12px;
    border-radius: 2px;
    line-height: 20px;
    white-space: nowrap;
    display: inline-block
}

.manager-resumes-item .manager-content {
    padding: 20px 30px;
    border-bottom: 1px solid #f1f1f1;
    display: inline-block;
    width: 100%
}

.manager-resumes-item .manager-content .resume-thumb {
    max-width: 64px;
    width: auto;
    margin-right: 30px;
    float: left
}

.manager-resumes-item .manager-content .manager-info .manager-name h4 {
    font-size: 22px;
    line-height: 35px
}

.manager-resumes-item .manager-content .manager-info .manager-name h5 {
    font-size: 17px;
    margin-top: 6px;
    color: #999
}

.manager-resumes-item .manager-content .manager-info .manager-meta {
    float: right;
    text-align: right
}

.manager-resumes-item .manager-content .manager-info .manager-meta span {
    display: block;
    color: #999;
    font-size: 16px;
    line-height: 35px
}

.manager-resumes-item .update-date {
    padding: 5px 30px;
    display: inline-block;
    width: 100%
}

.manager-resumes-item .update-date .status {
    float: left
}

.manager-resumes-item .update-date .action-btn {
    float: right
}

.manager-resumes-item .btn-xs {
    height: 24px;
    border-radius: 2px;
    line-height: 24px;
    padding: 0 12px;
    font-size: 11px
}

.manager-resumes-item .btn {
    background: #eceeef
}

.manager-resumes-item .btn-gray {
    color: #818a91
}

.manager-resumes-item .btn-gray:hover {
    color: #ff4f57
}

.notification-item .text-left .time,
.policy .post-box .text-box h4 {
    color: #999
}

.manager-resumes-item .btn-danger {
    background-color: #ef4d42!important
}

.notification .pagination {
    margin-top: 30px
}

.notification-item {
    display: inline-block;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    width: 100%
}

.notification-item .thums {
    float: left
}

.notification-item .thums img {
    border-radius: 4px;
    width: 80px
}

.notification-item .text-left {
    margin-left: 98px;
    padding: 15px 0
}

.notification-item .text-left p {
    font-size: 15px
}

.notification-item .text-left .time i {
    margin-right: 5px
}

.applications-content {
    padding: 30px 0;
    border-bottom: 1px solid #ddd
}

.applications-content .thums {
    float: left;
    width: 60px;
    margin-right: 12px
}

.applications-content h3 {
    font-size: 14px;
    margin-top: 10px
}

.applications-content p {
    color: #999;
    margin-top: 15px
}

.candidates .can-img img {
    width: 48px;
    margin: 5px 15px
}

.policy .post-box .text-box h2,
.policy .post-box .text-box h4 {
    line-height: 26px;
    margin: 0 0 18px;
    clear: both
}

.policy {
    background: #f5f5f5
}

.policy .post-box {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .15)
}

.policy .post-box .text-box {
    width: 100%;
    padding: 20px 23px
}

.policy .post-box .text-box p {
    color: #888;
    margin: 0 0 20px
}

.policy .post-box ul {
    padding: 0 0 20px 20px;
    margin: 0
}

.policy .post-box ul li {
    padding: 0;
    display: block;
    overflow: hidden;
    color: #888
}

fieldset label,
fieldset p {
    margin-bottom: 10px
}

.divider {
    padding: 10px 0 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee
}

.mainHeading {
    text-align: center;
    margin-bottom: 20px
}

.mainHeading .section-title {
    font-size: 24px;
    letter-spacing: .1em;
    padding: 20px 0;
    font-weight: 400
}

#pricing-table {
    background: #f0f3fa;
    text-align: center
}

#pricing-table .table,
#pricing-table .table .pricing-header {
    background: #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear
}

#pricing-table .title {
    padding-top: 25px;
    padding-bottom: 20px
}

#pricing-table .title h3 {
    font-size: 18px;
    margin-bottom: 0
}

#pricing-table .table {
    padding-bottom: 50px;
    border-radius: 4px;
    transition: all .3s linear
}

#pricing-table .table .pricing-header {
    position: relative;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-bottom: 50px;
    transition: all .3s linear
}

#pricing-table #active-tb .pricing-header,
#pricing-table .table:hover .pricing-header {
    background: #ff4f57
}

#pricing-table .table .pricing-header .price-value {
    font-size: 52px;
    color: #ff4f57;
    position: relative;
    text-align: center;
    font-weight: 700;
    line-height: 62px
}

#pricing-table .table .pricing-header .price-value sup {
    font-size: 30px;
    position: relative;
    top: -24px;
    font-weight: 400
}

#pricing-table .table .pricing-header .price-quality {
    font-size: 14px;
    color: #999
}

#pricing-table .table .description {
    text-align: center;
    padding: 0 50px;
    margin-bottom: 30px
}

#pricing-table .table .description li {
    font-size: 14px;
    color: #999;
    padding-bottom: 8px;
    font-weight: 700;
    letter-spacing: .5px
}

#pricing-table #active-tb .pricing-header .price-quality,
#pricing-table #active-tb .pricing-header .price-value,
#pricing-table .table:hover .pricing-header .price-quality,
#pricing-table .table:hover .pricing-header .price-value {
    color: #fff
}

#pricing-table .table:hover {
    box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, .13)
}

#pricing-table #active-tb {
    box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -webkit-box-shadow: 0 13px 21px rgba(0, 0, 0, .13);
    -moz-box-shadow: 0 13px 21px rgba(0, 0, 0, .13)
}

.collapse-box {
    margin-bottom: 15px
}

.collapset-title {
    border-top: 1px solid #eee;
    color: #444;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 10px;
    padding-top: 15px
}

.no-border {
    border: none
}

.user-panel-sidebar ul {
    padding: 0
}

.user-panel-sidebar ul li a {
    background: #fff;
    display: block;
    color: #444;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 26px;
    padding: 5px 10px;
    text-align: left;
    border-bottom: 1px solid #eee
}

.table>thead>tr>th,
.user-panel-sidebar ul li:last-child a {
    border-bottom: none
}

.user-panel-sidebar ul li a:active,
.user-panel-sidebar ul li a:hover,
.user-panel-sidebar ul li.active a {
    background-color: #ff4f57;
    color: #fff
}

.user-panel-sidebar ul li a:focus .badge,
.user-panel-sidebar ul li a:hover .badge,
.user-panel-sidebar ul li.active a .badge {
    color: #fff
}

.collapse-box .badge {
    float: right;
    background-color: transparent;
    color: #888;
    font-size: 11px;
    line-height: 20px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.table-search .control-label {
    line-height: 16px;
    padding-right: 0
}

.searchpan input#filter {
    font-size: 12px;
    height: 30px
}

.clear-filter {
    font-size: 11px
}

.add-img-td img {
    width: 100%
}

.table-action {
    display: block;
    margin-bottom: 15px
}

.table>thead>tr>th {
    color: #ff4f57
}

.ads-details-td h4 {
    font-size: 15px;
    margin-bottom: 6px
}

.ads-details-td strong {
    font-size: 13px;
    color: #444
}

.ads-details-td sapn,
.price-td {
    color: #888
}

.add-img-selector {
    width: 2%
}

.add-img-td {
    width: 20%
}

.ads-details-td {
    width: 60%
}

.price-td {
    text-align: center;
    width: 16%
}

.action-td {
    width: 10%
}

.photo-count {
    background: #ccc;
    border: 0;
    border-radius: 0;
    font-size: 12px;
    opacity: .9;
    padding: 0 3px;
    position: absolute;
    right: 4px;
    top: 5px
}

.userimg {
    border: 1px solid #eee;
    display: inline-block;
    width: 75px;
    padding: 3px;
    margin-right: 5px
}

.usearadmin h3 {
    font-size: 18px
}

.welcome-msg {
    margin-bottom: 30px
}

.pt {
    margin-top: 15px
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px
}

.back-to-top i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    border-radius: 50px;
    background-color: #ff4f57;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.post-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px
}

.post-title a {
    color: #444
}

.blog-post {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee
}

.blog-post .post-thumb {
    position: relative
}

.blog-post .post-thumb .hover-wrap {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    text-align: center;
    height: 100%;
    background: rgba(5, 47, 67, .8);
    opacity: 0;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease
}

.blog-post .post-thumb:hover .hover-wrap {
    opacity: 1
}

.blog-post .post-thumb:hover .link {
    margin-top: 0
}

.blog-post .blog-author {
    float: left;
    height: 68px;
    margin-top: 32px;
    text-align: center;
    width: 68px
}

.blog-post .blog-author img {
    border-radius: 50%
}

.blog-post .post-content {
    width: 100%;
    padding: 30px 92px
}

.blog-post .post-content .meta {
    font-size: 13px;
    margin-bottom: 17px;
    padding-bottom: 11px;
    border-bottom: 1px solid #eee
}

.blog-post .post-content .meta .meta-part {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 25px
}

.blog-post .post-content .meta .meta-part a {
    color: #999
}

.blog-post .post-content .meta .meta-part a:hover {
    color: #ff4f57
}

.blog-post .post-content .meta .meta-part i {
    margin-right: 5px
}

.blog-post .post-content p {
    margin-bottom: 30px
}

#pagination a,
#pagination span {
    display: inline-block;
    text-align: center;
    height: 34px;
    width: 34px;
    color: #666;
    line-height: 33px;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#pagination a:hover {
    border-color: #ddd
}

#pagination .all-pages,
#pagination .next-page {
    width: auto;
    padding: 0 14px
}

.widget-title {
    font-size: 15px;
    font-weight: 400;
    color: #333;
    letter-spacing: 1px;
    padding: 10px 0;
    margin-bottom: 20px;
    word-spacing: 1px;
    position: relative
}

.widget-title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px
}

.right-sidebar {
    padding-left: 20px
}

.search {
    width: 100%;
    margin-bottom: 0!important;
    position: relative
}

.search-btn {
    position: absolute;
    top: 76px;
    right: 25px;
    border: none;
    background: 0 0;
    font-size: 18px
}

.search-btn i {
    color: #999
}

#sidebar {
    margin-bottom: 30px
}

#sidebar .widget {
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 22px;
    padding-bottom: 30px
}

#sidebar .widget:last-child {
    border-bottom: none
}

#sidebar .cat-list li {
    padding: 7px 0;
    border-bottom: 1px solid #eee
}

#sidebar .cat-list li a {
    text-decoration: none;
    color: #999;
    display: inline-block;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#sidebar .cat-list li .num-posts {
    font-size: 12px
}

#sidebar .cat-list li:last-child {
    border: none
}

#sidebar .posts-list li {
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee
}

#sidebar .posts-list li:last-child {
    margin: 0;
    padding: 0;
    border: none
}

#comments .comments-list .media .thumb-left img,
#sidebar .tag a {
    border-radius: 50px
}

#sidebar .posts-list .widget-thumb {
    float: left
}

#sidebar .posts-list .widget-thumb a {
    display: block
}

#sidebar .posts-list .widget-thumb a img {
    opacity: 1;
    max-width: 90px;
    margin: 5px 15px 0 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out
}

#sidebar .posts-list .widget-thumb:hover img {
    opacity: .7
}

#sidebar .posts-list .widget-content a {
    font-weight: 400;
    color: #666
}

#sidebar .posts-list .widget-content span {
    color: #999;
    font-size: 12px;
    display: block;
    margin: 3px 0
}

#sidebar .tag a,
#sidebar .tag a:hover,
blockquote p a,
blockquote p a:hover {
    color: #fff
}

#sidebar .posts-list .widget-content span i {
    padding-right: 5px
}

#sidebar .tag a {
    display: inline-block;
    font-size: 12px;
    padding: 7px 12px;
    background: #ff4f57;
    margin: 4px 2px;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out
}

#comments h3,
blockquote .quote-text {
    font-size: 20px;
    font-weight: 400
}

.single-post p {
    margin-bottom: 20px!important
}

blockquote {
    border-left: none;
    padding: 30px;
    background: #ff4f57
}

blockquote .quote-text {
    color: #fff;
    line-height: 34px
}

blockquote p {
    margin-top: 10px;
    margin-bottom: 0!important
}

#comments .comments-list {
    padding: 0;
    margin: 0 0 35px
}

#comments .comments-list .media {
    padding: 30px 0
}

#comments .comments-list .media .thumb-left {
    float: left;
    width: 75px;
    height: 75px
}

#comments .comments-list .media .info-body {
    margin-left: 90px;
    background: #f1f1f1;
    padding: 20px
}

#comments .comments-list .media .info-body .name {
    font-size: 15px;
    font-weight: 700;
    line-height: 25px;
    margin-right: 10px
}

#comments .comments-list .media .info-body .comment-date {
    font-weight: 600;
    color: #999;
    margin-right: 5px;
    font-size: 12px
}

#comments .comments-list li ul {
    padding-left: 85px
}

.reply-link {
    color: #ff4f57;
    border-radius: 0;
    font-size: 14px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease
}

.respond-title {
    font-size: 20px;
    font-weight: 400;
    padding: 0 0 30px
}

.share-social span {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    color: #999;
    line-height: 31px;
    font-weight: 700
}

.social-link a {
    color: #cacaca;
    text-align: center;
    width: 32px;
    border: 1px solid #cacaca;
    line-height: 32px;
    border-radius: 50px;
    display: inline-block;
    height: 32px
}

.social-link .facebook:hover {
    color: #3b5998;
    border-color: #3b5998
}

.social-link .twitter:hover {
    color: #55acee;
    border-color: #55acee
}

.social-link .google:hover {
    color: #dd4b39;
    border-color: #dd4b39
}

.social-link .linkedin:hover {
    color: #007bb5;
    border-color: #007bb5
}

.head-faq {
    margin-bottom: 20px
}

.panel-group .panel {
    margin-bottom: 24px
}

.panel-default {
    border-radius: 0;
    border: none
}

.panel-default .panel-heading {
    padding: 0 30px;
    outline: 0;
    border-radius: 0;
    background: #ff4f57!important;
    border: 1px solid #ff4f57;
    width: 100%;
    box-shadow: none
}

.panel-default .panel-heading .panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit
}

.panel-default .panel-heading a {
    font-size: 15px;
    font-weight: 400;
    padding: 15px 35px 15px 0;
    display: inline-block;
    width: 100%;
    color: #fff;
    position: relative;
    text-decoration: none
}

.panel-default .panel-heading a:after {
    font-family: themify;
    content: "\e61a";
    position: absolute;
    right: 15px;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    top: 50%;
    line-height: 1;
    margin-top: -7px
}

.panel-default .panel-heading .collapsed:after {
    content: "\e622"
}

.panel-default .panel-collapse .panel-body {
    padding: 15px 30px;
    background-color: #fff;
    border: 1px solid #fff
}

.contact-form,
.information {
    margin-top: 40px
}

.contact-datails {
    margin-bottom: 12px;
    min-height: 75px;
    position: relative
}

.contact-datails .icon {
    position: absolute
}

.contact-datails .icon i {
    font-size: 18px
}

.contact-datails .info {
    padding-left: 30px
}

.contact-datails .info h3 {
    font-size: 15px;
    display: block
}

.contact-datails .info .datail {
    display: block;
    color: #888
}

.form-control {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .075);
    color: #444;
    display: block;
    height: 55px;
    padding: 15px 10px;
    width: 100%
}

.form-control:focus,
.has-error .form-control:focus {
    box-shadow: none
}

.input-icon input {
    padding-left: 40px
}

.input-icon {
    position: relative
}

.cd-form .input-icon i,
.login-form .input-icon i {
    color: #444;
    opacity: .6;
    padding-right: 10px;
    margin-top: -3px
}

.input-icon i {
    font-size: 15px;
    left: 12px;
    line-height: 22px;
    margin-top: -11px;
    position: absolute;
    top: 50%
}

.form-group {
    margin-bottom: 20px;
    position: relative
}

.form-group i {
    position: absolute;
    top: 20px;
    color: #888;
    left: 12px;
    font-size: 18px
}

.checkbox-item {
    display: inline-block;
    width: 100%
}

.checkbox-item .checkbox {
    float: left;
    margin: 0
}

.checkbox-item a {
    float: right
}

.my-account {
    background: #f5f5f5
}

.my-account-form .cd-switcher:after {
    content: "";
    display: table;
    clear: both
}

.my-account-form .cd-switcher li {
    width: 50%;
    float: left;
    text-align: center
}

.my-account-form .cd-switcher li:first-child a {
    border-radius: .4px 0 0
}

.my-account-form .cd-switcher li:last-child a {
    border-radius: 0 .4px 0 0
}

.my-account-form .cd-switcher a {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    background: #ff4f57;
    color: #fff
}

.my-account-form .cd-switcher a.selected {
    background: #fff;
    color: #505260
}

@media only screen and (min-width:600px) {
    .my-account-form {
        margin: 4px auto
    }
    .my-account-form .cd-switcher a {
        height: 70px;
        line-height: 70px
    }
}

.my-reset {
    background: #f5f5f5
}

.my-reset-form .cd-reset:after {
    content: "";
    display: table;
    clear: both
}

.my-reset-form .cd-reset li {
    width: 50%;
    float: left;
    text-align: center
}

.my-reset-form .cd-reset li:first-child a {
    border-radius: .4px 0 0
}

.my-reset-form .cd-reset li:last-child a {
    border-radius: 0 .4px 0 0
}

.my-reset-form .cd-reset a {
    display: block;
    width: 100%;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    background: #ff4f57;
    color: #fff
}

.my-reset-form .cd-reset a.selected {
    background: #fff;
    color: #505260
}

@media only screen and (min-width:600px) {
    .my-reset-form {
        margin: 4px auto
    }
    .my-reset-form .cd-reset a {
        height: 70px;
        line-height: 70px
    }
}

#cd-login,
#cd-reset-password,
#cd-signup{
    display: none
}

#cd-login.is-selected,
#cd-reset-password.is-selected,
#cd-signup.is-selected{
    display: block
}

.cd-user-modal-container .cd-switcher a.selected {
    background: #fff;
    color: #666
}

.cd-form-message {
    text-align: center;
    margin-bottom: 20px;
    color: #888
}

.cd-form-bottom-message {
    text-align: center
}

.box,
.page-login-form {
    padding: 15px;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .075)
}

.addon {
    font-size: 20px;
    color: #888;
    border-radius: 0;
    width: 32px!important
}

.box {
    border: 1px solid #ddd
}

.page-login-form {
    background: #fff
}

.page-login-form .login-form .form-control,
.registration .form-group .form-control {
    background: #fff!important
}

.page-login-form h3 {
    font-size: 18px;
    color: #444;
    line-height: 18px;
    padding: 15px 0 30px;
    text-align: center
}

.page-login-form .log-btn {
    width: 100%;
    padding: 12px 22px;
    margin: 0 0 20px;
    letter-spacing: 1;
    text-transform: capitalize;
    font-size: 16px
}

.registration .form-group {
    margin: 0
}

.registration .form-group .lable {
    margin-bottom: 10px
}

.registration .btn {
    padding: 7px 20px;
    border: none
}

.form-ad .checkbox label {
    margin-bottom: 0
}

.control-label {
    font-size: 14px;
    color: #888;
    font-weight: 700;
    margin-bottom: 10px
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    opacity: 0;
    background: 0 0;
    cursor: inherit;
    display: block
}

.btn-group-vertical.open>.dropdown-toggle.btn,
.btn-group-vertical.open>.dropdown-toggle.btn.btn-default,
.btn-group.open>.dropdown-toggle.btn,
.btn-group.open>.dropdown-toggle.btn.btn-default,
.btn-select {
    background: #fff
}

.file-caption {
    height: 54px
}

.mb15 {
    margin-bottom: 15px
}

.form-static {
    display: inline-block;
    margin-bottom: 0
}

.btn-group,
.btn-group-vertical {
    margin: 0
}

.btn-select {
    padding: 12px;
    border-radius: 2px;
    color: #2d2d2d!important;
    text-transform: none
}

.btn-group.open .dropdown-toggle {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .125)
}

.btn-group.open .dropdown-toggle:focus {
    outline: 0
}

.dropdown-menu>li>a {
    padding: 12px 20px;
    margin-bottom: 4px
}

.dropdown-menu li a:active,
.dropdown-menu li a:focus,
.dropdown-menu li a:hover {
    background-color: #ff4f57;
    color: #fff;
    border-radius: 0
}

.btn-group.bootstrap-select.dropdown-product ul.dropdown-menu.inner {
    display: none
}

.btn-group.bootstrap-select.dropdown-product.open ul.dropdown-menu.inner {
    display: block;
    z-index: 9999
}

.open .dropdown-menu {
    margin-top: 0
}

.btn-group .dropdown-menu,
.btn-group-vertical .dropdown-menu {
    border-radius: 0;
    text-transform: none
}

.input-group-addon {
    border: none;
    background: 0 0
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto
}

.mail-box {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
}

.mail-box aside {
    display: table-cell;
    float: none;
    height: 100%;
    padding: 0;
    vertical-align: top;
}

.mail-box .sm-side {
    background: none repeat scroll 0 0 #e5e8ef;
    border-radius: 4px 0 0 4px;
    width: 25%;
}

.mail-box .lg-side {
    background: none repeat scroll 0 0 #fff;
    border-radius: 0 4px 4px 0;
    width: 75%;
}

.mail-box .sm-side .user-head {
    background: none repeat scroll 0 0 #00a8b3;
    border-radius: 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 10px;
}

.user-head .inbox-avatar {
    float: left;
    width: 65px;
}

.user-head .inbox-avatar img {
    border-radius: 4px;
}

.user-head .user-name {
    display: inline-block;
    margin: 0 0 0 10px;
}

.user-head .user-name h5 {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 15px;
}

.user-head .user-name h5 a {
    color: #fff;
}

.user-head .user-name span a {
    color: #87e2e7;
    font-size: 12px;
}

a.mail-dropdown {
    background: none repeat scroll 0 0 #80d3d9;
    border-radius: 2px;
    color: #01a7b3;
    font-size: 10px;
    margin-top: 20px;
    padding: 3px 5px;
}

.inbox-body {
    padding: 20px;
}

.btn-compose {
    background: none repeat scroll 0 0 #ff6c60;
    color: #fff;
    padding: 12px 0;
    text-align: center;
    width: 100%;
}

.btn-compose:hover {
    background: none repeat scroll 0 0 #f5675c;
    color: #fff;
}

ul.inbox-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 100%;
}

.inbox-divider {
    border-bottom: 1px solid #d5d8df;
}

ul.inbox-nav li {
    display: inline-block;
    line-height: 45px;
    width: 100%;
}

ul.inbox-nav li a {
    color: #6a6a6a;
    display: inline-block;
    line-height: 45px;
    padding: 0 20px;
    width: 100%;
}

ul.inbox-nav li a:hover,
ul.inbox-nav li.active a,
ul.inbox-nav li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}

ul.inbox-nav li a i {
    color: #6a6a6a;
    font-size: 16px;
    padding-right: 10px;
}

ul.inbox-nav li a span.label {
    margin-top: 13px;
}

ul.labels-info li h4 {
    color: #5c5c5e;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    text-transform: uppercase;
}

ul.labels-info li {
    margin: 0;
}

ul.labels-info li a {
    border-radius: 0;
    color: #6a6a6a;
}

ul.labels-info li a:hover,
ul.labels-info li a:focus {
    background: none repeat scroll 0 0 #d5d7de;
    color: #6a6a6a;
}

ul.labels-info li a i {
    padding-right: 10px;
}

.nav.nav-pills.nav-stacked.labels-info p {
    color: #9d9f9e;
    font-size: 11px;
    margin-bottom: 0;
    padding: 0 22px;
}

.inbox-head {
    background: none repeat scroll 0 0 #41cac0;
    border-radius: 0 4px 0 0;
    color: #fff;
    min-height: 80px;
    padding: 20px;
}

.inbox-head h3 {
    display: inline-block;
    font-weight: 300;
    margin: 0;
    padding-top: 6px;
}

.inbox-head .sr-input {
    border: medium none;
    border-radius: 4px 0 0 4px;
    box-shadow: none;
    color: #8a8a8a;
    float: left;
    height: 40px;
    padding: 0 10px;
}

.inbox-head .sr-btn {
    background: none repeat scroll 0 0 #00a6b2;
    border: medium none;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 40px;
    padding: 0 20px;
}

.table-inbox {
    border: 1px solid #d3d3d3;
    margin-bottom: 0;
}

.table-inbox tr td {
    padding: 12px !important;
}

.table-inbox tr td:hover {
    cursor: pointer;
}

.table-inbox tr td .fa-star.inbox-started,
.table-inbox tr td .fa-star:hover {
    color: #f78a09;
}

.table-inbox tr td .fa-star {
    color: #d5d5d5;
}

.table-inbox tr.unread td {
    background: none repeat scroll 0 0 #f7f7f7;
    font-weight: 600;
}

ul.inbox-pagination {
    float: right;
}

ul.inbox-pagination li {
    float: left;
}

.mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.mail-option .chk-all,
.mail-option .btn-group {
    margin-right: 5px;
}

.mail-option .chk-all,
.mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
}

.inbox-pagination a.np-btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 15px;
}

.mail-option .chk-all input[type="checkbox"] {
    margin-top: 0;
}

.mail-option .btn-group a.all {
    border: medium none;
    padding: 0;
}

.inbox-pagination a.np-btn {
    margin-left: 5px;
}

.inbox-pagination li span {
    display: inline-block;
    margin-right: 5px;
    margin-top: 7px;
}

.fileinput-button {
    background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #e6e6e6;
}

.inbox-body .modal .modal-body input,
.inbox-body .modal .modal-body textarea {
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

.btn-send,
.btn-send:hover {
    background: none repeat scroll 0 0 #00a8b3;
    color: #fff;
}

.btn-send:hover {
    background: none repeat scroll 0 0 #009da7;
}

.modal-header h4.modal-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.modal-body label {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

.heading-inbox h4 {
    border-bottom: 1px solid #ddd;
    color: #444;
    font-size: 18px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.sender-info {
    margin-bottom: 20px;
}

.sender-info img {
    height: 30px;
    width: 30px;
}

.sender-dropdown {
    background: none repeat scroll 0 0 #eaeaea;
    color: #777;
    font-size: 10px;
    padding: 0 3px;
}

.view-mail a {
    color: #ff6c60;
}

.attachment-mail {
    margin-top: 30px;
}

.attachment-mail ul {
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
}

.attachment-mail ul li {
    float: left;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 150px;
}

.attachment-mail ul li img {
    width: 100%;
}

.attachment-mail ul li span {
    float: right;
}

.attachment-mail .file-name {
    float: left;
}

.attachment-mail .links {
    display: inline-block;
    width: 100%;
}

.fileinput-button {
    float: left;
    margin-right: 4px;
    overflow: hidden;
    position: relative;
}

.fileinput-button input {
    cursor: pointer;
    direction: ltr;
    font-size: 23px;
    margin: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-300px, 0px) scale(4);
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
    margin-bottom: 5px;
}

.files .progress {
    width: 200px;
}

.fileupload-processing .fileupload-loading {
    display: block;
}

* html .fileinput-button {
    line-height: 24px;
    margin: 1px -3px 0 0;
}

* + html .fileinput-button {
    margin: 1px 0 0;
    padding: 2px 15px;
}

@media (max-width: 767px) {
    .files .btn span {
        display: none;
    }
    .files .preview * {
        width: 40px;
    }
    .files .name * {
        display: inline-block;
        width: 80px;
        word-wrap: break-word;
    }
    .files .progress {
        width: 20px;
    }
    .files .delete {
        width: 60px;
    }
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}